.box-1{
    background-color: blue;
    height: 200px;
    margin-top: 30px;
}
.box-2{
    background-color: rgb(192, 66, 195);
    height: 200px;
    margin-top: 30px;
}
.box-3{
    background-color: rgb(0, 247, 255);
    height: 200px;
    margin-top: 30px;
}
.box-4{
    background-color: rgb(0, 255, 68);
    height: 430px;
    margin-top: 30px;
}
.box-5{
    background-color: rgb(208, 255, 0);
    height: 430px;
    margin-top: 30px;
}
.box-6{
    background-color: rgb(255, 0, 0);
    height: 200px;
    margin-top: 30px;
}
.box-7{
    background-color: rgb(167, 131, 131);
    height: 200px;
    margin-top: 30px;
    text-align: center;
    padding-top: 70px;
}
.box-8{
    background-color: rgb(14, 255, 146);
    height: 200px;
    margin-top: 30px;
}
.box-9{
    background-color: rgb(223, 63, 255);
    height: 200px;
    margin-top: 30px;
}
.box-10{
    background-color: rgb(255, 180, 52);
    height: 200px;
    margin-top: 30px;
}
.box-11{
    background-color: rgb(106, 4, 4);
    height: 200px;
    margin-top: 30px;
}


